html {
    font-family:
        "Open Sans", sans-serif;
    background-color: aliceblue;
}

h1,
h2 {
    color: #1f1e33;
    text-align: center;
}

body {
    width: 100%;
    margin: 0 auto;
}

intro {
    text-align: center;
}