:root {
    --primary-color: #1f1e33;
    --accent-color: #4a90e2;
    --text-color: #333;
    --background-color: rgba(240, 248, 255, 0.8);
}

body {
    color: var(--text-color);
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-height: 100vh;
    margin: 0;
    padding: 4vh;
}

h1 {
    margin-top: 5vh; /* 从顶部添加一定距离 */
    margin-bottom: 0vh;
    font-size: 6vh;
}

/* 添加悬停效果 */
a {
    text-decoration: none;
    color: var(--accent-color);
    transition: all 0.3s ease;
}

a:hover {
    transform: translateY(-3px);
    opacity: 0.5;
}

img {
    border-radius: 10px;
    max-height: 40vh;
    width: auto;
    object-fit: contain;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

button {
    background: var(--accent-color);
    color: white;
    border: none;
    padding: 1vh 2vh;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}